.header {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  background-color: #eb4559;
  font-size: 0.75em;
  font-weight: 300;
  color: white;
}

.body-content {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.loading {
  font-size: 1em;
  color: #363636;
  animation: spin 0.8s infinite ease-in-out;
  -webkit-animation: spin 0.8s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.weather-data-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 200px 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}

.weather-data-content__location {
  padding: 2em;
  padding-bottom: 1em;
}

.weather-data-content__location__title {
  font-size: 0.45em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 0.8em;
}

.weather-data-content__location__city-name {
  font-size: 1.1em;
  font-weight: 500;
}

.weather-data-content__big-weather-card {
  width: 100%;
  padding: 1em;
}

.weather-data-content__big-weather-card__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0px auto;
  background-color: #faf9f9;
  width: 100%;
  max-width: 500px;
  height: 200px;
  box-shadow: 0px 1px 8px rgb(228, 228, 228);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.weather-data-content__big-weather-card__card__weather-info__temp {
  font-size: 1.3em;
}

.weather-data-content__big-weather-card__card__weather-info__desc {
  font-size: 0.8em;
  margin: 10px 0px;
}

.weather-data-content__big-weather-card__card__weather-info__date {
  font-size: 0.5em;
}

.gray-line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.weather-data-content__list-forecast {
  align-self: flex-start;
  padding-top: 1em;
  width: 100%;
}

.weather-data-content__list-forecast__title {
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}

.weather-data-content__list-forecast__list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
  padding: 1em;
}

.weather-data-content__list-forecast__list__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #faf9f9;
  width: 100%;
  max-width: 500px;
  height: 100px;
  box-shadow: 0px 1px 8px rgb(228, 228, 228);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.weather-data-content__list-forecast__list__card__weather-info {
  justify-self: flex-start;
}

.weather-data-content__list-forecast__list__card__weather-info__temp {
  font-size: 0.8em;
}

.weather-data-content__list-forecast__list__card__weather-info__desc {
  font-size: 0.4em;
  margin: 10px 0px;
}

.weather-data-content__list-forecast__list__card__weather-info__date {
  font-size: 0.3em;
}
