* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: calc(1em + 0.7vw);
}

body {
  font-family: "Roboto", sans-serif;
}
